:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.strip-area {
  height: 25vh;
  flex-shrink: 0;
  border-bottom: 1px solid #333;
}

.bottom-area {
  height: 75vh;
  display: flex;
  flex-direction: row;
}

.preview-area {
  width: 65vw;
  overflow: auto;
  border-right: 1px solid #333;
}

.info-area {
  width: 35vw;
  overflow-y: auto;
}
