:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.strip-area {
  flex: none;
  overflow: hidden;
}

.divider-h {
  flex: none;
  height: 4px;
  background: #333;
  cursor: row-resize;
  &:hover, &:active {
    background: #666;
  }
}

.bottom-area {
  flex: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.preview-area {
  flex: none;
  overflow: auto;
}

.divider-v {
  flex: none;
  width: 4px;
  background: #333;
  cursor: col-resize;
  &:hover, &:active {
    background: #666;
  }
}

.info-area {
  flex: none;
  overflow-y: auto;
}
